body {
  box-sizing: border-box;
  background-color: white;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 100%;
  padding: 0;
}

.navbar-nav {
  font-size: 1.1rem;
  margin: 0 auto;
  text-transform: uppercase;
}

.nav-facebook-link {
  font-size: 2rem;
  color: #93c01f;
}

img {
  max-width: 100%;
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
}

.row1 {
  justify-content: center;
}

.row2 {
  justify-content: center;
}

.header-img {
  min-height: 150px;
  background-image: url("./images/skylt_loqvist1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  margin-top: 68px;
}

.header-box {
  width: 100%;
  height: 80px;
  background-color: #93c01f;
}

/*Front page main content*/

.main {
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
  max-width: 1000px;
}

.loqvist-img {
  display: block;
  margin: 20px auto;
  width: 100%;
  border-radius: 10px;
}

.btn-container {
  display: flex;
  justify-content: space-around;
  max-width: 300px;
  margin: 0 auto;
}

.btn-container a {
  font-size: 1rem;
}

.ucsigill-img {
  display: block;
  width: 40%;
  margin: 2rem auto;
}

/*Front page aside - campaign info*/

.special-offers h4 {
  margin-bottom: 1rem;
}

.offer {
  border: 1px solid black;
  border-radius: 5px;
  padding: 1rem;
  margin-bottom: 2rem;
}

.special-offers__img {
  border-radius: 5px;
  margin-bottom: 0.5rem;
}

.offer p,
.produkt-blad {
  font-size: 0.9rem;
}

/*Contact page*/
.contact-info {
  text-align: left;
}

.fas,
.fab {
  margin-right: 10px;
}

/*Footer*/

footer {
  background-color: #343a40;
  min-height: 150px;
  margin-bottom: 0;
}

.footer-container {
  display: flex;
  justify-content: center;
}

.footer-img {
  height: 90px;
  width: 90px;
  padding: 20px;
  border-radius: 20px;
}

.copy {
  color: white;
  text-align: center;
}

.btn {
  text-decoration: none;
  background-color: #93c01f;
  color: #343a40;
  font-weight: 700;

  padding: 0.5em 1em;
  border-radius: 5px;
}

/* .btn + .btn {
  margin-left: 1rem;
} */

.btn:hover {
  background-color: #343a40;
  color: #ffffff;
  border: 2px solid #93c01f;
}

/* .card {
  margin: 10px;
} */

/* .flip-card {
  background-color: transparent;
  width: 300px;
  height: 350px;
  perspective: 1000px;
  margin: 20px; /* Remove this if you don't want the 3D effect */
/* }  */

/* .flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
}

.flip-card:hover .flip-card-front {
  transform: rotateY(180deg);
}

.flip-card:hover .flip-card-back {
  transform: rotateY(0deg);
} */

/* .flip-card-front,
.flip-card-back {
  transition: transform 0.8s;
  transform-style: preserve-3d;
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
/* backface-visibility: hidden;
} */

/* .flip-card-front {
  background-color: #93c01f;
  color: #343a40;
  border: 2px solid black;
  border-radius: 10px;
}

.flip-card-back {
  background-color: #343a40;
  color: white;
  border-radius: 10px;
  transform: rotateY(180deg);
} */

/* Media queries */

@media (min-width: 540px) {
  .header-img {
    min-height: 15rem;
  }
}

@media (min-width: 768px) {
  .header-img {
    min-height: 20rem;
  }
  .main {
    display: flex;
    justify-content: space-between;
  }
  .info {
    width: 70%;
  }
  .special-offers {
    width: 28%;
    margin-top: 1.5rem;
  }
  .loqvist-img {
    width: 70%;
  }
  .ucsigill-img {
    width: 40%;
    margin-top: 4rem;
  }
  .special-offers h4 {
    display: none;
  }

  .offer h5 {
    font-size: 1.3rem;
  }
}

@media (min-width: 992px) {
  .nav-item + .nav-item {
    margin-left: 2rem;
  }
  .header-img {
    min-height: 25rem;
  }
}
