body {
  box-sizing: border-box;
  background-color: white;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 100%;
  padding: 0;
}

.navbar {
  position: absolute;
  top: 0;
  width: 100%;
}

#navbarNav {
  background-color: rgba(255, 255, 255);

  padding: 1rem 2rem;
  margin: 0 -1rem;
}

.navbar-nav {
  font-size: 1.1rem;
  margin: 0 auto;
  text-transform: uppercase;
}

.nav-facebook-link {
  font-size: 2rem;
  color: #2e3032;
}

img {
  max-width: 100%;
}

/* .flex-row {
  display: flex;
  flex-wrap: wrap;
}

.row1 {
  justify-content: center;
}

.row2 {
  justify-content: center;
} */

.header-img {
  min-height: 18rem;
  /* width: 100vw; */
  background-image: url("./images/Bakgrund/Bakgrund\ och\ logga/background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  place-content: center top;
  /* margin-top: 68px; */
}

.header-logo {
  padding: 0 2rem;
  margin-top: 2.5rem;
}

.header-box {
  width: 100%;
  height: 80px;
  background-color: #445e7d;

  /* width: 100vw; */
  background-image: url("./images/Bakgrund/Bakgrund\ och\ logga/background.jpg");

  background-repeat: no-repeat;
  background-size: cover;
}

/*Front page main content*/

.main {
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
  max-width: 1000px;
}

.loqvist-img {
  margin: 20px auto;
}

.carousel-inner {
  border-radius: 10px;
}

.btn-container {
  display: flex;
  justify-content: space-around;
  max-width: 300px;
  margin: 0 auto;
}

.btn-container a {
  font-size: 1rem;
}

.ucsigill-img {
  display: block;
  width: 40%;
  margin: 2rem auto;
}

/*Front page aside - campaign info*/

.special-offers h4 {
  margin-bottom: 1rem;
}

.offer,
.tjanster-card {
  border: 1px solid black;
  border-radius: 5px;
  padding: 1rem;
  margin-bottom: 2rem;
}

.special-offers__img,
.tjanster__img {
  border-radius: 5px;
  margin-bottom: 1.5rem;
}

.offer p,
.produkt-blad {
  font-size: 0.9rem;
}

/*Om oss page*/
.main-om-oss {
  margin: 2rem auto;
}

.main-om-oss h1 {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  margin: 2rem 0rem;
}

.staff-card img {
  padding: 1rem;
  padding-bottom: 0rem;
}

.staff-card p {
  text-align: center;
  font-weight: bold;
  font-size: 1.4rem;
}

/*Tjänster page*/
.main-tjanster {
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
  max-width: 1000px;
}

.tjanster-card h5 {
  font-size: 1.9rem;
}

.tjanster__img {
  margin-top: 1rem;
}

.rotavdrag {
  background-color: #445e7d;
  color: #fff;
  padding: 1rem;
  border-radius: 5px;
}

.rotavdrag-container {
  max-width: 600px;
  margin: 2rem auto;
  text-align: center;
}

.skatteverket-link {
  color: rgb(255, 255, 255);
  text-decoration: underline;
}

.skatteverket-link:hover {
  color: rgb(221, 221, 221);
  text-decoration: underline;
}

/*Contact page*/
.main-kontakta-oss {
  min-height: 80vh;
  max-width: 1440px;
}

.contact-info {
  text-align: left;
  padding: 1rem;
}

.fas,
.fab {
  margin-right: 10px;
}

.map {
  text-align: center;
  margin-bottom: 2rem;
}

iframe {
  width: 90%;
  height: 400px;
}

/*Partners page*/
.main-partners {
  max-width: 1000px;
  text-align: center;
  margin: 0 auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.partners-img {
  max-width: 15rem;
  margin: 2rem 1rem;
  display: block;
}

/*Footer*/

footer {
  background-color: #445e7d;
  min-height: 150px;
  margin-bottom: 0;
  display: grid;
  place-content: center;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  width: 12rem;
  margin: auto;
}

.footer-img {
  height: 50px;
  width: 50px;
  border-radius: 5px;
  margin-bottom: 1rem;
}

.copy {
  color: white;
  text-align: center;
}

.btn {
  text-decoration: none;
  background-color: #445e7d;
  color: #fff;
  font-weight: 700;

  padding: 0.5em 1em;
  border-radius: 5px;
}

/* .btn + .btn {
  margin-left: 1rem;
} */

.btn:hover {
  background-color: #343a40;
  color: #ffffff;
  border: 2px solid #445e7d;
}

/* .card {
  margin: 10px;
} */

/* .flip-card {
  background-color: transparent;
  width: 300px;
  height: 350px;
  perspective: 1000px;
  margin: 20px; /* Remove this if you don't want the 3D effect */
/* }  */

/* .flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
}

.flip-card:hover .flip-card-front {
  transform: rotateY(180deg);
}

.flip-card:hover .flip-card-back {
  transform: rotateY(0deg);
} */

/* .flip-card-front,
.flip-card-back {
  transition: transform 0.8s;
  transform-style: preserve-3d;
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
/* backface-visibility: hidden;
} */

/* .flip-card-front {
  background-color: #93c01f;
  color: #343a40;
  border: 2px solid black;
  border-radius: 10px;
}

.flip-card-back {
  background-color: #343a40;
  color: white;
  border-radius: 10px;
  transform: rotateY(180deg);
} */

/* Media queries */

@media (min-width: 540px) {
  .header-img {
    min-height: 25rem;
    background-size: cover;
  }
  .header-logo {
    width: 80%;
    margin: 3rem auto;
  }
  .tjanster-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .tjanster-card {
    width: 18rem;
  }
  .tjanster-card h5 {
    font-size: 1.4rem;
  }
  .tjanster__img {
    height: 10rem;
  }
  .tjanster-info {
    display: flex;

    flex-direction: column;
    justify-content: space-between;
  }
  .main-partners {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    margin: 3rem auto;
  }
  .partners-img {
    max-width: 20rem;
    margin: 1rem;
  }
}

@media (min-width: 700px) {
  .header-logo {
    width: 80%;
    margin: 2rem auto;
  }
  .main-om-oss .flex-row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 2rem;
  }
  .main-om-oss .staff-card {
    width: 20rem;
  }
  .main-kontakta-oss {
    display: flex;
    justify-content: center;
    margin: 2rem auto;
    min-height: 65vh;
  }
  .contact-info {
    margin-right: 3rem;
  }
  .map {
    width: 50%;
  }

  iframe {
    width: 100%;
  }
}

@media (min-width: 768px) {
  .header-img {
    min-height: 50vh;
  }
  .header-logo {
    margin-top: 1.8rem;
  }
  .main {
    display: flex;
    justify-content: space-between;
  }
  .info {
    width: 70%;
  }
  .special-offers {
    width: 28%;
    margin-top: 1.5rem;
  }
  .loqvist-img {
    width: 70%;
  }
  .ucsigill-img {
    width: 40%;
    margin-top: 4rem;
  }
  .special-offers h4 {
    display: none;
  }

  .offer h5 {
    font-size: 1.3rem;
  }
}

@media (min-width: 900px) {
  .header-logo {
    padding: 0 2rem;

    width: 70%;
  }
}

@media (min-width: 992px) {
  .nav-item + .nav-item {
    margin-left: 2rem;
  }
  #navbarNav {
    background-color: rgba(255, 255, 255, 0);

    padding: 1rem 2rem;
    margin: 0 -1rem;
  }
  .header-logo {
    width: 60%;
    margin-top: 4rem;
  }
}

@media (min-width: 1024px) {
  .nav-item + .nav-item {
    margin-left: 2rem;
  }
  .header-img {
    height: 100vh;
    max-height: 50rem;
  }
  .header-logo {
    margin-top: 7rem;
  }
}

@media (min-width: 1500px) {
  .header-logo {
    margin-top: 5.5rem;
  }
}
